body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
	margin: 0 auto;
	max-width: 500px;
	padding: 10px
}

.center {
 text-align: center; 
}

.header {
 background-color: #eee; 
 padding:2px;
 margin:0;
}

/* Navigation */

.nav ul {
 display: flex; 
 justify-content: center;
  margin:0;
}

.nav ul li {
 list-style-type:none; 
 padding: 10px 20px;
 text-align: center;
}

.nav ul li a {
 text-decoration: none;
 color: black;
 margin: 0;
 padding: 10px 20px;
 display: block;
 min-width: 100px;

}

.nav ul li a.active {
  background-color: #eee; 
  font-weight: bolder;
  
}

.nav + hr {
 margin: 0;
  padding: 0;
}
