body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.container {
	margin: 0 auto;
	max-width: 500px;
	padding: 10px
}

.center {
 text-align: center; 
}

.header {
 background-color: #eee; 
 padding:2px;
 margin:0;
}

li {
   list-style-type:none;
   
}

.select {
   margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
  display: block;
  
}



.btn, .btn:visited, .btn:active {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
  display:block;
  text-decoration:none;
  appearance: button;
  color: #000;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
  background-color: #eee;
  text-decoration:none;
}

/* Navigation */

.nav ul {
 display: flex; 
 justify-content: center;
  margin:0;
}

.nav ul li, .nav .user {
 list-style-type:none; 
 padding: 10px 20px;
 text-align: center;
 display: block;
}

.nav ul li a {
 text-decoration: none;
 color: black;
 margin: 0;
 padding: 10px 20px;
 display: block;
 min-width: 100px;

}

.nav .user-info {
  display: flex;
  align-items: center;
}

.nav li .avatar {
  background-size: 100%;
 width:30px;
 height: 30px;
 border-radius: 15px;
}

.nav ul li a.active {
  background-color: #eee; 
  font-weight: bolder;
  
}
.nav + hr {
 margin: 0;
  padding: 0;
}

/*QuestionList*/
.questions {
 margin:0;
 width: 100%;
 padding:0;
  
}
/* Question*/

.card {
 display: block;
 border: 2px solid #eee; 
  margin-bottom: 10px;
 
}

.card-title {
 background-color: #eee; 
 padding: 5px;
 text-align: left;
  font-weight: bolder;
}

.card-body {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.avatar {
 background-size: 100%;
 width:100px;
 height: 100px;
 border-radius: 50px;
}

/*Question Detail */
.detail-form {
  text-align: left; 
}

